:root {
  --container-width: 920px;
  --primary-color: #bbf68e;
}

/* Custom font declarations */
@font-face {
  font-family: "PixelLabel";
  src: url("/fonts/pixel_label.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PixelText";
  src: url("/fonts/pixel_text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Body */
html {
  font-size: 14px;
}
body {
  background-color: #151515;
  color: #eee;
  font-family: "PixelText", monospace;
  font-size: 1rem;
  line-height: 1.6;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PixelLabel", monospace;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  color: var(--primary-color);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

/* Toastify */
.Toastify__toast {
  pointer-events: all;
  background-color: #444;
  white-space: pre-line;
  border-radius: 0;
  font-family: "PixelText";
}

.Toastify__toast-icon {
  margin-inline-start: 0;
  margin: 0 1rem 0 0.25rem;
}
